BasedOnStyle: LLVM
Language: Cpp
Standard: c++20

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120

BreakBeforeBraces: Allman
AccessModifierOffset: -4
NamespaceIndentation: None
PointerAlignment: Left
ReferenceAlignment: Left
Cpp11BracedListStyle: false
SpaceBeforeCpp11BracedList: false
AlignEscapedNewlines: Left
SortIncludes: Never
